.cart-icon {
  background-color: #39f;
  color: white;
}

.cart-icon:hover {
  background-color: rgb(100, 177, 255);
  cursor: pointer;
}

.display-overlay {
  display: none;
}

.display-overlay:hover {
  display: inline-block;
}

.product-parent-div {
  width: 250px;
  padding: 30px 15px;
}

.product-image {
  object-fit: cover;
  width: 250px;
  height: 250px;
}

.product-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 760px) {
  .product-parent-div {
    width: 150px;
    padding: 30px 5px;
  }
  .product-image {
    width: 150px;
    height: 150px;
  }
  .mobile-sizing {
    min-height: 162px;
  }
}
