<div
  class="product-parent-div"
  (click)="selectProduct()"
  href="#modal-example"
  uk-toggle
>
  <div class="uk-card uk-card-default">
    <div class="uk-card-media-top">
      <div class="uk-inline">
        <img
          src="{{ product.productDetails[0].imageUrl }}"
          alt=""
          onerror="this.src='./assets/products/default.png';"
          class="product-image"
        />
        <div class="uk-overlay-default uk-position-cover display-overlay">
          <span class="uk-position-center" uk-icon="search"></span>
        </div>
      </div>
    </div>
    <div
      class="uk-card-body mobile-sizing"
      style="padding: 15px; background-color: #fff"
    >
      <!-- <span class="uk-card-badge uk-label uk-label-warning">Best Price</span> -->
      <div style="min-height: 60px" class="product-name">
        <h5 class="product-name">{{ product.productDetails[0].name }}</h5>
      </div>
      <div style="display: flex; justify-content: space-between">
        <div>
          <p style="font-weight: 700">
            {{
              product.productDetails[0].size[
                product.productDetails[0].size.length - 1
              ].price
            }},00 Din
          </p>
          <!-- <div *ngIf="product$ | async as pr">
                        {{pr | json}}
                    </div> -->
        </div>
        <div>
          <span
            class="uk-icon-button uk-margin-small-right cart-icon"
            href="#modal-example"
            uk-icon="cart"
            uk-tooltip="Dodaj u korpu"
            uk-toggle
            (click)="selectProduct()"
          >
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-product-details-modal [product]="product"></app-product-details-modal>
