<div
  class="uk-position-relative uk-visible-toggle uk-dark"
  tabindex="-1"
  uk-slideshow="ratio: 9:3; animation: push; autoplay: true; autoplay-interval: 3500;"
>
  <ul class="uk-slideshow-items">
    <li>
      <img src="assets/photos/baner_vodice.jpg" alt="" uk-cover />
    </li>
    <li>
      <img src="assets/photos/soap.jpg" alt="" uk-cover />
    </li>
    <li>
      <img src="assets/photos/essential_oil.jpg" alt="" uk-cover />
    </li>
    <li>
      <img src="assets/photos/cosmetics.jpg" alt="" uk-cover />
    </li>
  </ul>

  <a
    class="uk-position-center-left uk-position-small uk-hidden-hover uk-slidenav-large"
    href="#"
    uk-slidenav-previous
    uk-slideshow-item="previous"
  ></a>
  <a
    class="uk-position-center-right uk-position-small uk-hidden-hover uk-slidenav-large"
    href="#"
    uk-slidenav-next
    uk-slideshow-item="next"
  ></a>
</div>
<div style="width: 100%; min-height: 35vh; background-color: #f8f8f8">
  <div style="text-align: center; padding: 40px 0 0 0">
    <h2 style="margin: 0">Kategorije</h2>
  </div>
  <div class="categories-container">
    <div
      (click)="filterProductCategory('Nega Kose')"
      style="
        width: 165px;
        height: 155px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <div style="width: 120px; height: 120px; background-color: #f8f8f8">
        <img
          src="../../../../../../assets/products/BALZAM ZA KOSU Hippie.jpg"
          alt=""
        />
      </div>
      <div>
        <h6>Nega Kose</h6>
      </div>
    </div>
    <div
      (click)="filterProductCategory('Nega Tela')"
      style="
        width: 165px;
        height: 155px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <div style="width: 120px; height: 120px; background-color: #f8f8f8">
        <img
          src="../../../../../../assets/products/Cvetna vodica Ruza.jpg"
          alt=""
        />
      </div>
      <div>
        <h6>Nega Tela</h6>
      </div>
    </div>
    <div
      (click)="filterProductCategory('Nega Lica')"
      style="
        width: 165px;
        height: 155px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <div style="width: 120px; height: 120px; background-color: #f8f8f8">
        <img
          src="../../../../../../assets/products/Piling za lice.jpg"
          alt=""
        />
      </div>
      <div>
        <h6>Nega Lica</h6>
      </div>
    </div>
    <div
      (click)="filterProductCategory('Aromaterapija')"
      style="
        width: 165px;
        height: 155px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <div style="width: 120px; height: 120px; background-color: #f8f8f8">
        <img src="../../../../../../assets/products/Beauty Gloss.jpg" alt="" />
      </div>
      <div>
        <h6>Aromaterapija</h6>
      </div>
    </div>
  </div>
</div>
<div style="width: 100%; min-height: 50vh; background-color: #f8f8f8">
  <div style="text-align: center; padding: 40px 0 0 0">
    <h2 style="margin: 0">Nega Lica</h2>
  </div>
  <div class="products-container">
    <div *ngFor="let product of faceProducts">
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>
<div style="width: 100%; min-height: 50vh; background-color: #f8f8f8">
  <div style="text-align: center; padding: 40px 0 0 0">
    <h2 style="margin: 0">Nega Tela</h2>
  </div>
  <div class="products-container">
    <div *ngFor="let product of bodyProducts">
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>
<div style="width: 100%; min-height: 50vh; background-color: #f8f8f8">
  <div style="text-align: center; padding: 40px 0 0 0">
    <h2 style="margin: 0">Nega Kose</h2>
  </div>
  <div class="products-container">
    <div *ngFor="let product of hairProducts">
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>
<div style="width: 100%; min-height: 50vh; background-color: #f8f8f8">
  <div style="text-align: center; padding: 40px 0 0 0">
    <h2 style="margin: 0">Aromaterapija</h2>
  </div>
  <div class="products-container">
    <div *ngFor="let product of aromatherapy">
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>
<!-- <div style="width: 100%; min-height: 45vh; justify-content: center; background-color: #fff;">
    <div style="text-align: center; padding: 20px 40px;">
        <h1>Brands</h1>
        <app-brands></app-brands>
    </div>
</div> -->
<div
  style="
    width: 100%;
    min-height: 35vh;
    justify-content: center;
    background-color: #39f;
  "
>
  <div style="text-align: center; padding: 20px 100px">
    <h1 style="color: #fff">Subscribe</h1>
    <p style="color: white">
      Pretplatite se kako bi ste prvi dobili najnovije ponude i popuste
    </p>
  </div>
</div>
<div
  style="
    width: 100%;
    min-height: 40vh;
    justify-content: center;
    background-color: #222;
  "
>
  <div
    style="
      display: flex;
      justify-content: center;
      padding: 20px 100px;
      text-align: center;
    "
  >
    <h1 style="color: white; opacity: 0.7">Klementina Online Shop</h1>
  </div>
</div>
