<div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
    <form>
        <div style="text-align: center;">
            <h2>Admin</h2>
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="text">
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                <input class="uk-input" type="text">
            </div>
        </div>

        <div>
            <button (click)="login()" class="uk-button uk-button-primary uk-width-1-1">Login</button>
        </div>

    </form>
</div>