<div style="display: flex; justify-content: center; padding: 20px;">
    <div style="width: 70vw; display: flex; flex-direction: column;">
        <div style="width: 100%; height: 10vh; display: flex; justify-content: space-between;">
            <div style="width: 10%;">
                <h2>Orders</h2>
            </div>
            <div style="width: 75%; text-align: right;">
                <button class="uk-button uk-button-primary">Create Order</button>
            </div>
            <div style="width: 15%;"></div>
        </div>
        <div style="padding: 20px; max-height: 70vh; overflow-y: auto;">
            <table class="uk-table uk-table-striped">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Status</th>
                        <th>Price</th>
                        <th>Products</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of $orders | async">
                        <td>#{{order.id}}</td>
                        <td>
                            <span *ngIf="order.status == 'fulfilled'" class="uk-label uk-label-success">{{order.status}}</span>
                            <span *ngIf="order.status == 'unfulfilled'" class="uk-label uk-label-warning">{{order.status}}</span>
                        </td>
                        <td>{{order.sum}},00 Din</td>
                        <td>{{order.ordersProduct.length}}kom</td>
                        <td><button class="uk-button uk-button-text uk-button-small" (click)="selectOrder(order)">View</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>