<div
  style="
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
  "
>
  <div
    style="
      width: 450px;
      height: 450px;
      border-radius: 20px;
      background-color: #9cceff;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    "
  >
    <div
      style="
        width: 150px;
        height: 150px;
        margin: 0px 20px 30px 20px;
        background-color: white;
        border-radius: 50%;
        text-align: center;
      "
    >
      <img src="assets/icons/logo/logo.png" alt="" />
    </div>
    <form>
      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input class="uk-input" type="text" #username />
        </div>
      </div>

      <div class="uk-margin">
        <div class="uk-inline">
          <span
            class="uk-form-icon uk-form-icon-flip"
            uk-icon="icon: lock"
          ></span>
          <input class="uk-input" type="password" #password />
        </div>
      </div>

      <!-- <button
        class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom"
        (click)="onLogin(username.value, password.value)"
      >
        Login
      </button> -->
    </form>
    <button
      class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom"
      style="width: 245px"
      (click)="onLogin(username.value, password.value)"
    >
      login
    </button>
  </div>
</div>
