<div style="width: 100%; height: 100vh; display: flex;">
    <div class="admin-menu">
        <app-admin-menu></app-admin-menu>
    </div>
    <div
        style="width: 88vw; height: 100%; display: flex; flex-direction: column; align-items: center; background-color: rgba(230, 230, 230, 0.7);">
        <div
            style="height: 30vh; width: 80vw; padding: 40px 20px 20px 20px; display: flex; justify-content: space-between;">
            <div
                style="width: 23%; height: 200px; background-color: white; border-bottom: 7px solid #39f; text-align: center; border-radius: 5px;">
                <h3 style="color: #39f; padding-top: 20px;">
                    Orders Today
                </h3>
                <div style="display: flex; justify-content: center; padding-top: 10px; padding-left: 10px;">
                    <h1 style="color: #39f;">13</h1>
                    <span style="padding-left: 10px; padding-top: 5px; color: green;"
                        uk-icon="icon: arrow-up; ratio: 2;"></span>
                </div>
            </div>
            <div
                style="width: 23%; height: 200px; background-color: white; border-bottom: 7px solid #39f; text-align: center; border-radius: 5px;">
                <h3 style="color: #39f; padding-top: 20px;">
                    Earnings Today
                </h3>
                <div style="display: flex; justify-content: center; padding-top: 10px; padding-left: 10px;">
                    <h1 style="color: #39f;">376$</h1>
                    <span style="padding-left: 10px; padding-top: 5px; color: green;"
                        uk-icon="icon: arrow-up; ratio: 2;"></span>
                </div>
            </div>
            <div
                style="width: 23%; height: 200px; background-color: white; border-bottom: 7px solid #39f; text-align: center; border-radius: 5px;">
                <h3 style="color: #39f; padding-top: 20px;">
                    Total Orders
                </h3>
                <div style="display: flex; justify-content: center; padding-top: 10px; padding-left: 10px;">
                    <h1 style="color: #39f;">452</h1>
                    <span style="padding-left: 10px; padding-top: 5px; color: green;"
                        uk-icon="icon: arrow-up; ratio: 2;"></span>
                </div>
            </div>
            <div
                style="width: 23%; height: 200px; background-color: white; border-bottom: 7px solid #39f; text-align: center; border-radius: 5px;">
                <h3 style="color: #39f; padding-top: 20px;">
                    Average Order
                </h3>
                <div style="display: flex; justify-content: center; padding-top: 10px; padding-left: 10px;">
                    <h1 style="color: #39f;">47$</h1>
                    <span style="padding-left: 10px; padding-top: 5px; color: green;"
                        uk-icon="icon: arrow-up; ratio: 2;"></span>
                </div>
            </div>
        </div>
        <div
            style="height: 30vh; width: 80vw; padding: 40px 20px 20px 20px; display: flex; justify-content: space-between;">
            <div style="width: 49%; height: 48vh; background-color: white; text-align: center; border-radius: 5px;">
                <h3 style="color: #39f; padding-top: 20px; margin-bottom: 0;">
                    Today Chart
                </h3>
                <div>
                </div>
                <div>
                    <div style="display: block; padding: 10px;">
                        <canvas style="padding-bottom: 30px;" baseChart [datasets]="barChartData"
                            [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </div>
            <div style="width: 49%; height: 48vh; background-color: white; text-align: center; border-radius: 5px;">
                <h3 style="color: #39f; padding-top: 20px; margin-bottom: 0;">
                    History Chart
                </h3>
                <div>
                </div>
                <div>
                    <div style="display: block; padding: 10px;">
                        <canvas style="padding-bottom: 30px;" baseChart [datasets]="barChartData"
                            [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>