<div class="top-bar-mobile">
  <div>+381(0)60/3103-306</div>
  <div class="icon-container" style="padding: 0; width: 100px;">
    <span class="icon" style="color: white;" uk-icon="icon: cart; ratio: 1" uk-tooltip="title: Cart; pos: bottom"
      uk-toggle="target: #offcanvas-flip"></span>
  </div>
</div>

<div class="visitor-menu-main-container">
  <div class="visitor-left-container">
    <div class="visitor-left-box">
      <div class="left-icon-box">
        <img style="height: 65px" src="assets/icons/logo/logo.png" alt="" />
      </div>
      <div class="left-icon-box" (click)="routing('visitor/home')">
        <p class="left-icon-item">Proizvodi</p>
      </div>
      <div class="uk-inline">
        <div class="left-icon-box">
          <p class="left-icon-item">Kategorije</p>
        </div>
        <div uk-dropdown="pos: bottom-justify">
          <ul class="uk-nav uk-dropdown-nav">
            <li>
              <a (click)="filterProductCategory('Nega Lica')">Nega Lica</a>
            </li>
            <li>
              <a (click)="filterProductCategory('Nega Tela')">Nega Tela</a>
            </li>
            <li>
              <a (click)="filterProductCategory('Nega Kose')">Nega Kose</a>
            </li>
            <li>
              <a (click)="filterProductCategory('Aromaterapija')">Aromaterapija</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="left-icon-box">
                <p class="left-icon-item">Brands</p>
            </div> -->
      <!-- <div class="left-icon-box">
                <p class="left-icon-item">About</p>
            </div> -->
      <div class="left-icon-box">
        <p class="left-icon-item">Kontakt</p>
      </div>
    </div>
  </div>
  <div class="visitor-right-container">
    <div style="
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      ">
      <div class="icon-container">
        <span class="icon" uk-icon="icon: search; ratio: 1" uk-tooltip="title: Search Products; pos: bottom"></span>
      </div>
      <div class="icon-container">
        <span class="icon" uk-icon="icon: user; ratio: 1" uk-tooltip="title: Profile; pos: bottom"></span>
      </div>
      <div class="icon-container">
        <span class="icon" uk-icon="icon: cart; ratio: 1" uk-tooltip="title: Cart; pos: bottom"
          uk-toggle="target: #offcanvas-flip"></span>
      </div>
    </div>
  </div>
</div>