.visitor-menu-main-container {
  height: 65px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.visitor-left-container {
  color: black;
  width: 50%;
}

.visitor-right-container {
  color: black;
  width: 50%;
  padding-right: 10%;
}

.visitor-left-box {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10%;
}

.left-icon-box {
  display: flex;
  margin-right: 15px;
}

.left-icon-item {
  margin: 0 0 0 5px;
  font-size: larger;
  opacity: 0.7;
}

.left-icon-item:hover {
  cursor: pointer;
  opacity: 1;
}

.icon-container {
  padding: 0 15px;
}

.icon {
  opacity: 0.5;
}

.icon:hover {
  opacity: 1;
  cursor: pointer;
}
.top-bar-mobile {
  display: none;
}

@media screen and (max-width: 760px) {
  .visitor-menu-main-container {
    flex-direction: column;
    height: 120px;
    margin-top: 50px;
  }
  .visitor-left-container {
    width: 100%;
  }
  .visitor-right-container {
    width: 100%;
    padding: 0;
  }
  .icon-container {
    padding: 15px;
  }
  .left-icon-box {
    margin: 0;
  }
  .visitor-left-box {
    justify-content: space-evenly;
    padding-left: 0;
  }
  .top-bar-mobile {
    display: flex;
    justify-content: center;
    background-color: #222;
    color: white;
    text-align: center;
    text-justify: center;
    padding: 10px 0;
    font-size: 20px;
    position: fixed;
    z-index: 200;
    top: 0;
    width: 100%;
  }
}
