<div class="cart-card">
    <img class="cart-item-img" src="{{product.imageUrl}}">
    <div class="cart-item-desc-container">
        <h5 class="cart-item-name">{{product.name}}</h5>
        <div class="cart-item-decription">
            <div class="cart-item-price">
                <p>{{product.price}}din </p>
            </div>
            <div class="cart-item-price-container">
                <p>{{product.amount}} x {{product.price}}din</p>
            </div>
            <div>
                <span class="uk-icon-button cart-item-delete-icon" uk-icon="icon: trash" (click)="removeItem(product)"></span>
            </div>
        </div>
    </div>
</div>