.cart-card {
    display: flex; align-items: center; color: black; padding: 10px; border-bottom: 1px solid rgba(180, 180, 180, 0.2);
}

.cart-item-img {
    width: 100px; height: 100px;
}

.cart-item-desc-container {
    display: flex; align-items: center; flex-direction: column; width: 100%;
}

.cart-item-name{
    color: black;
}

.cart-item-decription {
    display: flex; width: 100%;
}

.cart-item-price {
    width: 50%; text-align: center;
}

.cart-item-price-container {
    width: 50%; text-align: center; opacity: 0.6;
}

.cart-item-delete-icon {
    color: #f0506e;
}

.cart-item-delete-icon:hover {
    background-color: #f0506e;
    cursor: pointer;
    opacity: 1;
}