.view-cart-container {
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background-color: rgba(230, 230, 230, 0.7);
}

.view-cart-items-box {
    width: 70%;
    min-height: 150px;
    background-color: #fff;
    border-radius: 5px;
}

.view-cart-item {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

.view-cart-item-input {
    width: 50px;
    border: 0.5px solid rgba(102, 102, 102, 0.5);
    border-radius: 3px;
    margin: 5px;
}

.view-cart-item-input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.view-cart-item-input:hover {
    opacity: 1;
    cursor: pointer;
    border: 0.5px solid rgb(75, 75, 75);
}

.view-cart-item-icon {
    color: rgba(102, 102, 102, 0.5);
}

.view-cart-item-icon:hover {
    cursor: pointer;
    opacity: 1;
    color: rgba(75, 75, 75);
}

.cart-item-delete-icon {
    color: #f0506e;
}

.cart-item-delete-icon:hover {
    background-color: #f0506e;
    color: #fff;
    cursor: pointer;
    opacity: 1;
}

.price-box {
    display: block;
}

@media screen and (max-width: 760px) {
    .price-box {
        display: none;
    }
}