<div class="view-cart-item">
    <div style="width: 100px; height: auto;">
        <img src="{{product.imageUrl}}" alt="asd">
    </div>
    <div>
        <h6>{{product.name}}</h6>
        <p class="price-box">{{product.size}}</p>
        <p>{{product.amount}}x{{product.price}}din</p>
        <!-- {{product.type}} -->
    </div>
    <div class="price-box">
        <h4>Price</h4>
        {{product.price}}din
    </div>
    <div style="display: flex; align-items: center;" class="tm-cart-quantity-column">
        <span class="view-cart-item-icon" uk-icon="minus" (click)="lowerAmount()"></span>
        <input class="uk-input view-cart-item-input" name="amount" type="number" min="1" [(ngModel)]="product.amount" disabled>
        <span class="view-cart-item-icon" uk-icon="plus" (click)="addAmount()"></span>
    </div>
    <div class="price-box">
        <h4>Sum</h4>
        {{product.amount}}x{{product.price}}din
    </div>
    <div>
        <span class="uk-icon-button cart-item-delete-icon" uk-icon="icon: trash"
            (click)="removeItem(product)"></span>
    </div>
</div>