<div class="view-cart-container">
    <h1>Cart</h1>
    <div *ngIf="products.length === 0">
        <img src="assets/photos/empty-cart.png" alt="Empty Cart">
    </div>
    <div *ngIf="products.length !== 0" class="view-cart-items-container">
        <div class="view-cart-items-box">
            <div *ngFor="let product of products">
                <app-view-cart-item [product]="product"></app-view-cart-item>
            </div>
        </div>
        <div class="summary-container">
            <div class="summary-box" uk-sticky="bottom: true;" width-element="false">
                <div class="top-summary-box">
                    <div class="summary-box-half">
                        <p class="box-font-small-gray">Total</p>
                        <p class="box-font-small-gray">{{sum}}Din</p>
                    </div>
                    <div class="summary-box-half">
                        <!-- Activated Discount Code Logic -->
                        <p class="box-font-small-gray">Popust</p>
                        <p class="box-font-small-gray">nije aktivan</p>
                        <!-- <input style="width: 60%;" class="uk-input" type="text" placeholder="Discount Code">
                        <button class="uk-button uk-button-primary uk-button-small button-border-radius" type="button"><span
                            uk-icon="icon: chevron-double-right"></span></button> -->
                    </div>
                </div>
                <hr>
                <div class="bottom-summary-box">
                    <div class="bottom-summary-box-total">
                        <p class="box-font-small-gray">Total</p>
                        <p class="box-font-big-black">{{sum}}Din</p>
                    </div>
                    <div style="padding: 10px;">
                        <button class="uk-button uk-width-1-1 uk-button-primary button-border-radius" (click)="routing('/visitor/checkout')">Završi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>