.view-cart-container {
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background-color: rgba(230, 230, 230, 0.7);
}

.view-cart-items-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.view-cart-items-box {
    width: 70%;
    min-height: 50px;
    background-color: #fff;
    border-radius: 5px;
}

.summary-container {
    width: 20%;
    min-height: 80vh;
}

.summary-box {
    width: 100%;
    height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.top-summary-box {
    height: 50%;
    display: flex;
    flex-direction: column;
}

.summary-box-half {
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-summary-box {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bottom-summary-box-total {
    display: flex;
    justify-content: space-evenly;
}

.button-border-radius {
    border-radius: 5px;
}

.box-font-small-gray {
    color: #999!important;
    margin: 0;
    font-size: larger;
}

.box-font-big-black {
    color: #000!important;
    margin: 0;
    font-size: x-large;
}

@media screen and (max-width: 760px) {
    .view-cart-items-container {
        flex-direction: column;
    }
    .view-cart-items-box {
        width: 100%;
    }
    .summary-container {
        width: 100%;
    }
}