<div class="admin-menu-container">
  <div class="admin-menu-logo-container">
    <div class="admin-menu-logo-box">
      <img
        style="border-radius: 50%"
        src="assets/icons/logo/logo-cropped.png"
        alt="Klementina Logo"
      />
    </div>
  </div>
  <div>
    <div class="menu-item" (click)="routing('dashbord')">
      <span uk-icon="home" style="margin-right: 10px"></span>
      Dashboard
    </div>
    <div class="menu-item" (click)="routing('orders')">
      <span uk-icon="list" style="margin-right: 10px"></span>
      Orders
      <span class="uk-badge uk-label-warning">1</span>
    </div>
    <div class="menu-item" (click)="routing('products')">
      <span uk-icon="nut" style="margin-right: 10px"></span>
      Products
    </div>
    <div class="menu-item" (click)="onLogOut()">
      <span uk-icon="user" style="margin-right: 10px"></span>
      Log Out
    </div>
    <div class="menu-item" (click)="test()">
      <span uk-icon="user" style="margin-right: 10px"></span>
      Test
    </div>
  </div>
</div>
