.admin-menu-container {
    background-color: #39f;
    width: 12vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.admin-menu-logo-container {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-menu-logo-box {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

.menu-item:hover {
    cursor: pointer;
    opacity: 0.7;
}
