.checkout-container {
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  background-color: #f8f8f8;
}

.parent-main-details-container {
  display: flex;
  padding: 20px;
}

.main-details-container {
  width: 70%;
}

.main-summary-container {
  width: 30%;
  padding: 20px;
}

.summary-container {
  width: 20%;
  min-height: 80vh;
}

.summary-box {
  width: 100%;
  height: 300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.top-summary-box {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.summary-box-half {
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bottom-summary-box {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bottom-summary-box-total {
  display: flex;
  justify-content: space-evenly;
}

.button-border-radius {
  border-radius: 5px;
}

.box-font-small-gray {
  color: #999 !important;
  margin: 0;
  font-size: larger;
}

.box-font-big-black {
  color: #000 !important;
  margin: 0;
  font-size: x-large;
}

.mobile-checkout-button {
  display: none;
}

@media screen and (max-width: 760px) {
  .main-summary-container {
    display: none;
  }
  .main-details-container {
    width: 100%;
  }
  .parent-main-details-container {
    padding: 5px;
  }
  .checkout-container {
    padding: 10px;
  }
  .mobile-checkout-button {
    display: inline;
  }
}

.order-input {
  background-color: #fff;
  border: 1px solid rgba(153, 153, 153, 0.7) !important;
  border-radius: 5px;
}
.invalid-input {
  border: 1px solid red !important;
}
