<div class="checkout-container">
  <h1>Checkout</h1>
  <p style="color: rgba(153, 153, 153, 0.7) !important">
    Obavezno popuniti oznacena polja kako bi nastavili sa kupovinom
  </p>
  <div class="parent-main-details-container">
    <form class="main-details-container" [formGroup]="orderForm">
      <div>
        <div
          style="
            text-align: left;
            padding-left: 30px;
            padding-top: 30px;
            display: flex;
            align-items: center;
          "
        >
          <h1 style="margin: 0; color: rgba(153, 153, 153, 0.7) !important">
            1.
          </h1>
          <h3 style="margin: 0; padding-left: 10px">Personal Info</h3>
        </div>
        <div style="background-color: #fff; padding: 30px; border-radius: 5px">
          <div style="display: flex; flex-direction: column">
            <div style="display: flex">
              <div style="width: 50%; padding: 10px; text-align: left">
                <label class="uk-form-label">Ime*</label>
                <input
                  formControlName="name"
                  class="uk-input order-input"
                  type="text"
                  name="name"
                  [ngClass]="{ 'invalid-input': name.invalid && name.touched }"
                />
              </div>

              <div style="width: 50%; padding: 10px; text-align: left">
                <label class="uk-form-label">Prezime*</label>
                <input
                  formControlName="surname"
                  class="uk-input order-input"
                  type="text"
                  name="surname"
                  [ngClass]="{
                    'invalid-input': surname.invalid && surname.touched
                  }"
                />
              </div>
            </div>

            <div style="display: flex">
              <div style="width: 50%; padding: 10px; text-align: left">
                <label class="uk-form-label">Broj Telefona*</label>
                <input
                  class="uk-input order-input"
                  type="number"
                  name="phone"
                  formControlName="phone"
                  [ngClass]="{
                    'invalid-input': phone.invalid && phone.touched
                  }"
                />
              </div>

              <div style="width: 50%; padding: 10px; text-align: left">
                <label class="uk-form-label">Email*</label>
                <input
                  class="uk-input order-input"
                  type="text"
                  name="email"
                  formControlName="email"
                  [ngClass]="{ 'invalid-input': name.invalid && name.touched }"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          style="
            text-align: left;
            padding-left: 30px;
            padding-top: 30px;
            display: flex;
            align-items: center;
          "
        >
          <h1 style="margin: 0; color: rgba(153, 153, 153, 0.7) !important">
            2.
          </h1>
          <h3 style="margin: 0; padding-left: 10px">Dostava</h3>
        </div>
        <div
          style="background-color: #fff; padding: 30px; border-radius: 5px"
          formGroupName="Delivery"
        >
          <div style="display: flex; flex-direction: column">
            <div style="display: flex">
              <div style="width: 40%; padding: 10px; text-align: left">
                <label class="uk-form-label">Grad*</label>
                <input
                  class="uk-input order-input"
                  formControlName="city"
                  type="text"
                  name="city"
                  [ngClass]="{ 'invalid-input': city.invalid && city.touched }"
                />
              </div>
              <div style="width: 50%; padding: 10px; text-align: left">
                <label class="uk-form-label">Ulica*</label>
                <input
                  formControlName="street"
                  class="uk-input order-input"
                  type="text"
                  name="street"
                  [ngClass]="{
                    'invalid-input': street.invalid && street.touched
                  }"
                />
              </div>
              <div style="width: 10%; padding: 10px; text-align: left">
                <label class="uk-form-label">Broj*</label>
                <input
                  formControlName="number"
                  class="uk-input order-input"
                  type="number"
                  name="number"
                  [ngClass]="{
                    'invalid-input': number.invalid && number.touched
                  }"
                />
              </div>
            </div>
            <div style="display: flex">
              <div style="width: 10%; padding: 10px; text-align: left">
                <label class="uk-form-label">Sprat</label>
                <input
                  class="uk-input order-input"
                  type="text"
                  name="floor"
                  formControlName="floor"
                />
              </div>
              <div style="width: 10%; padding: 10px; text-align: left">
                <label class="uk-form-label">Stan</label>
                <input
                  class="uk-input order-input"
                  type="text"
                  name="apartment"
                  formControlName="apartment"
                />
              </div>
              <div style="width: 80%; padding: 10px; text-align: left">
                <label class="uk-form-label">Dodatne info</label>
                <input
                  class="uk-input order-input"
                  type="text"
                  name="additionalInfo"
                  formControlName="additionalInformation"
                />
              </div>
            </div>
          </div>
        </div>

        <div
          style="
            text-align: left;
            padding-left: 30px;
            padding-top: 30px;
            display: flex;
            align-items: center;
          "
        >
          <h1 style="margin: 0; color: rgba(153, 153, 153, 0.7) !important">
            3.
          </h1>
          <h3 style="margin: 0; padding-left: 10px">Placanje</h3>
        </div>
        <div
          style="
            background-color: #fff;
            padding: 30px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
          "
        >
          <form style="display: flex; flex-direction: column">
            <div
              style="
                width: 300px;
                border: 1px solid #1e87f0;
                border-radius: 5px;
                padding: 20px;
              "
              class="uk-card uk-card-default uk-card-body"
            >
              <h3 class="uk-card-title">Pri preuzimanju</h3>
              <p>Plaćanje se vrši preuzimanju, Bex kurirska sluzba</p>
              <p>Dostava: 220din</p>
              <input class="uk-radio" type="radio" checked />
            </div>
          </form>
        </div>
        <div class="mobile-checkout-button">
          <div style="padding: 10px" *ngIf="$getCart | async as cart">
            <button
              class="uk-button uk-width-1-1 uk-button-primary button-border-radius"
              (click)="sendOreder(cart)"
              [disabled]="orderForm.invalid"
            >
              Checkout
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="main-summary-container">
      <div
        style="width: 100%; min-height: 50vh; background-color: #fff"
        uk-sticky="bottom: true;"
      >
        <div style="padding: 20px">
          <h3>Racun</h3>
        </div>
        <div class="top-summary-box">
          <div class="summary-box-half">
            <p class="box-font-small-gray">Subtotal</p>
            <p class="box-font-small-gray">{{ order.sum }}Din</p>
          </div>
          <div class="summary-box-half">
            <!-- Activated Discount Code Logic -->
            <p class="box-font-small-gray">Popust</p>
            <p class="box-font-small-gray">jos nije aktivan..</p>
            <!-- <input style="width: 60%;" class="uk-input" type="text" placeholder="Discount Code">
                        <button class="uk-button uk-button-primary uk-button-small button-border-radius" type="button"><span
                            uk-icon="icon: chevron-double-right"></span></button> -->
          </div>
        </div>
        <hr />
        <div class="bottom-summary-box">
          <div class="bottom-summary-box-total">
            <p class="box-font-small-gray">Total</p>
            <p class="box-font-big-black">{{ order.sum }}Din</p>
          </div>
          <div *ngIf="$getCart | async as cart" style="padding: 10px">
            <button
              class="uk-button uk-width-1-1 uk-button-primary button-border-radius"
              (click)="sendOreder(cart)"
              [disabled]="orderForm.invalid"
            >
              Checkout
            </button>
            <button (click)="sendEmail()">test</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
