<div class="info-main-container">
    <div class="info-left-box">
        <div class="info-box-container-left">
            <div class="info-box-left-item-div"><span class="span-opacity" uk-icon="icon: receiver; ratio: 0.7"></span>
                <p class="info-box-left-item">+381(0)60/3103-306</p>
            </div>
            <div class="info-box-left-item-div"><span class="span-opacity" uk-icon="icon: location; ratio: 0.7"></span>
                <p class="info-box-left-item">Beograd</p>
            </div>
            <div class="info-box-left-item-div"><span class="span-opacity" uk-icon="icon: clock; ratio: 0.7"></span>
                <p style="margin: 0 0 0 5px; font-size: smaller; opacity: 0.5;">Svaki Dan 00:00 - 24:00</p>
            </div>
        </div>
    </div>
    <div class="info-right-box">
        <div class="info-box-container-right">
            <div style="display: flex;">
                <p style="margin: 0 13px 0 13px; font-size: smaller; opacity: 0.7;">Pitanja</p>
            </div>
            <div style="display: flex;">
                <p style="margin: 0 13px 0 13px; font-size: smaller; opacity: 0.7;">Povracaj</p>
            </div>
            <div style="display: flex;">
                <p style="margin: 0 13px 0 13px; font-size: smaller; opacity: 0.7;">Placanje</p>
            </div>
        </div>
    </div>
</div>