.info-main-container {
    height: 35px;
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: space-between;
}

.info-left-box {
    color: white;
    width: 50%;
}

.info-right-box {
    color: white;
    width: 50%;
    padding-right: 10%;
}

.info-box-container-right {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info-box-container-left {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
}

.info-box-left-item-div {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.span-opacity {
    opacity: 0.5;
}

.info-box-left-item {
    margin: 0 0 0 5px;
    font-size: smaller;
    opacity: 0.5;
    border-bottom: 1px dotted;
}

.info-box-left-item:hover {
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 760px) {
    .info-main-container {
        display: none;
    }
}