<div style="width: 100%; height: 100vh; display: flex;">
    <!-- <div class="admin-menu">
        <app-admin-menu></app-admin-menu>
    </div> -->
    <div *ngIf="products" class="router-outlet">
        <router-outlet></router-outlet>
        <app-cart></app-cart>
    </div>
</div>