.cart-items-container {
    display: flex; flex-direction: column; border-top: 1px solid rgba(180, 180, 180, 0.5); border-bottom: 1px solid rgba(180, 180, 180, 0.5); padding: 5px; max-height: 65vh; overflow-y: auto;
}