<div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
    <div style="padding: 0 0 0 0; background-color: #fff;" class="uk-offcanvas-bar">

        <div>
            <h3 style="color: black; padding: 15px 0px 0px 15px;">Cart</h3>
            <button class="uk-offcanvas-close" style="color: black;" type="button" uk-close></button>
        </div>


        <div class="cart-items-container" *ngFor="let product of products">

            <app-cart-item [product]="product"></app-cart-item>

        </div>
        <div *ngIf="products.length > 0" style="display: flex; justify-content: space-between; height: 30px; padding: 15px 25px 0px 25px;">
            <div style="font-weight: 800;">
                <h4 style="color: #999!important;">Total: </h4>
            </div>
            <div>
                <h4 style="color: black;">{{sum}},00 Din</h4>
            </div>
        </div>
        <div *ngIf="products.length > 0" style="display: flex; justify-content: space-between; padding: 20px;">
            <button
                style="background-color: #fff; border: 1px solid rgba(180, 180, 180, 0.5); color: black; border-radius: 5px; position: initial;"
                class="uk-button uk-button-primary uk-button uk-offcanvas-close" (click)="routing('/visitor/cart')">Vidi korpu</button>
            <button style="background-color: #1e87f0; color: white; border-radius: 5px; position: initial;"
                class="uk-button uk-button-primary uk-button uk-offcanvas-close" (click)="routing('/visitor/checkout')">Završi</button>
        </div>
        <div *ngIf="products.length === 0">
            <img src="assets/photos/empty-cart.png" alt="Empty Cart">
        </div>
    </div>
</div>