<div style="width: 88vw; height: 100%; display: flex; justify-content: center;">
    <div style="min-height: 30vh; width: 80vw; padding: 40px 20px 20px 20px; overflow-y: auto;">
        <div style="width: 100%; height: 10vh; display: flex; justify-content: space-between;">
            <div style="width: 50%;">
                <h2>New Product</h2>
            </div>
        </div>
        <form class="uk-form-horizontal uk-margin-large" style="width: 70%;">

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Product Name</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-horizontal-text" name="name" type="text" [(ngModel)]="product.name"
                        placeholder="Product name...">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Product Category</label>
                <div class="uk-form-controls">
                    <select name="select" id="Select Category" [(ngModel)]="product.categoryName">
                        <option value="{{cat}}" *ngFor="let cat of categories">{{cat}}</option>
                    </select>
                </div>
            </div>
            <!-- <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Price</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-horizontal-text" name="price" type="number" step="0.01" [(ngModel)]="product.price"
                        placeholder="Product price..">
                </div>
            </div> -->
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Description (max length = 999
                    characters)</label>
                <div class="uk-form-controls">
                    <textarea rows="8" cols="90" name="desc" maxlength="990"
                        [(ngModel)]="product.description"></textarea>
                </div>
            </div>
            <div class="uk-margin">
                <button class="uk-button uk-button-primary" (click)="saveProduct()" type="button">Save Product</button>
            </div>
            <div class="uk-margin" *ngFor="let s of sizeAmount; let i = index;">
                <label class="uk-form-label" for="form-horizontal-text">Amount, Type, Price</label>
                <div class="uk-grid-small uk-child-width-expand@s uk-text-center" #divParent uk-grid>
                    <input name="size{{i}}" class="uk-input" id="form-horizontal-text" type="text"
                        [(ngModel)]="sizeAmount[i].amount" placeholder="Amount">
                    <input name="type{{i}}" class="uk-input" id="form-horizontal-text" type="text"
                        [(ngModel)]="sizeAmount[i].type" placeholder="ml / g">
                    <input name="amount{{i}}" class="uk-input" id="form-horizontal-text" type="text"
                        [(ngModel)]="sizeAmount[i].price" placeholder="Price">
                    <span (click)="removeSizeAmount(s.id)" uk-icon="icon: minus-circle"></span>
                </div>
            </div>
            <span (click)="createNew()" uk-icon="icon: plus-circle"></span>
            <div *ngIf="$lastAdded | async as lastAdded" class="uk-margin">
                <button class="uk-button uk-button-primary" (click)="saveSizes(lastAdded.productDetails[0])"
                    type="button">Save Sizes</button>
            </div>

            <!-- <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">Category</label>
                <div class="uk-form-controls">
                    <select class="uk-select" id="form-horizontal-select">
                        <option>Hands Cream</option>
                        <option>Soap</option>
                    </select>
                </div>
            </div> -->
            <!-- <div class="uk-margin">
                <div class="uk-form-label">Radio</div>
                <div class="uk-form-controls uk-form-controls-text">
                    <label><input class="uk-radio" type="radio" name="radio1"> Option 01</label><br>
                    <label><input class="uk-radio" type="radio" name="radio1"> Option 02</label>
                </div>
            </div> -->
            <!-- <div class="uk-margin">
                <div class="js-upload" uk-form-custom>
                    <input type="file" multiple>
                    <button class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
                </div>
            </div> -->

        </form>
    </div>
</div>