.size-icons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.round-size-icon {
  width: 60px;
  height: 60px;
  border: 1px solid #39f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-size-icon-clicked {
  width: 60px;
  height: 60px;
  border: 3px solid #39f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-size-icon:hover {
  border: 1px solid rgba(51, 153, 255, 0.5);
  cursor: pointer;
}

.round-size-icon-clicked {
  cursor: pointer;
}

.description-container {
  height: 30vh;
}

.cart-button {
  line-height: 125%;
  padding: 10px;
  margin-bottom: 10px;
}
.product-image-container {
  width: 100%;
  height: 400px;
}
.modal-product-image {
  width: 400px;
  height: 400px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

@media screen and (max-width: 760px) {
  .description-container {
    height: 20vh;
  }

  .modal-product-image {
    width: 280px;
    height: 300px;
  }
  .uk-modal-body {
    padding: 10px 15px;
  }
}
