<div id="modal-example" uk-modal>
  <div
    style="border-radius: 10px"
    class="uk-modal-dialog uk-modal-body"
    *ngIf="product$ | async as pr"
  >
    <h2 class="uk-modal-title">{{ pr.productDetails[0].name }}</h2>
    <div class="product-image-container">
      <img
        class="modal-product-image"
        src="{{ pr.productDetails[0].imageUrl }}"
        onerror="this.src='./assets/products/default.png';"
      />
    </div>

    <div class="uk-modal-body description-container" uk-overflow-auto>
      <p>{{ pr.productDetails[0].description }}</p>
    </div>
    <div style="height: 100px; width: 100%">
      <div class="size-icons-container">
        <div
          (click)="selectProductSize(s, pr.productDetails[0])"
          *ngFor="let s of pr.productDetails[0].size; let i = index"
          [ngClass]="
            selectedSize ? 'round-size-icon-clicked' : 'round-size-icon'
          "
          id="size{{ i }}"
        >
          <p style="margin: 0">{{ s.amount }}{{ s.type }}</p>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: space-between">
      <div *ngIf="!selected">
        <!-- <h3>Cena: {{pr.productDetails[0].size[pr.productDetails[0].size.length - 1].price}}Din</h3> -->
        <h3>Cena: klikni na velicinu</h3>
        <h5 style="margin: 0">Velicina: klikni na velicinu</h5>
      </div>
      <div *ngIf="selected">
        <h3>Cena: {{ sizePrice.price }}Din</h3>
        <h5 style="margin: 0">
          Velicina: {{ selectedProduct.size }}
          {{ product.productDetails[0].size[0].type }}
        </h5>
      </div>
      <div style="display: flex; flex-direction: column">
        <ng-container *ngIf="!selected">
          <button
            style="border-radius: 10px"
            class="uk-button uk-button-primary cart-button"
            (click)="addToCart()"
            type="button"
            disabled
          >
            Dodaj u korpu
          </button>
        </ng-container>
        <ng-container *ngIf="selected">
          <button
            style="border-radius: 10px; margin-bottom: 10px"
            class="uk-button uk-button-primary cart-button"
            (click)="addToCart()"
            type="button"
          >
            Dodaj u korpu
          </button>
        </ng-container>
        <button
          #closeButton
          style="border-radius: 10px"
          class="uk-button uk-button-default uk-modal-close"
          type="button"
        >
          Zatvori
        </button>
      </div>
    </div>
  </div>
</div>
