.products-container {
    display: flex;
    padding: 0 100px 20px 100px;
    justify-content: center;
    flex-wrap: wrap;
}


@media screen and (max-width: 760px) {
    .products-container {
        padding: 0;
    }
}