<div style="width: 100%; min-height: 80vh; background-color: #f8f8f8">
    <div style="text-align: center; padding: 40px 0 0 0;">
        <h2 style="margin: 0;">Kategorija: {{categoryName}}</h2>
    </div>
    <div class="products-container">
        <div *ngFor="let product of $selectedCategory | async">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>
</div>