.info-box {
    width: 45%;
    /* min-height: 300px; */
    height: fit-content;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgba(153, 153, 153, 0.5)!important;
}

.info-label {
    font-weight: 500;
    color: #999;
}
