<div style="display: flex; justify-content: center; padding: 20px;">
    <div style="width: 70vw; display: flex; flex-direction: column;">
        <div *ngIf="$selectedOrder | async as order">
            <div style="display: flex; width: 100%; justify-content: space-between; padding: 5px;">
                <h4>Order ID: #{{order.id}}</h4>
                <!-- <button class="uk-button uk-button-warning">Nedovršeno</button>
                <button class="uk-button uk-button-success">Završeno</button> -->
                <button *ngIf="order.id" (click)="fufillOrder(order.id)" class="uk-button uk-button-warning">Označi kao Završeno</button>
            </div>
            <div style="display: flex; width: 100%; justify-content: space-evenly; max-height: 80vh; overflow-y: auto;">
                <div style="min-height: fit-content;" class="info-box">
                    <div style="display: flex; justify-content: space-between;">
                        <p class="info-label">Klijent:</p>
                        <h5 style="margin: 0;" class="info-label">{{order.name}} {{order.surname}}</h5>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <p class="info-label">Email:</p>
                        <h5 style="margin: 0;" class="info-label">{{order.email}}</h5>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <p class="info-label">Grad i ulica:</p>
                        <h5 style="margin: 0;" class="info-label">{{order.street}}</h5>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <p class="info-label">Broj ulice:</p>
                        <h5 style="margin: 0;" class="info-label">{{order.number}}</h5>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <p class="info-label">Sprat / Stan:</p>
                        <h5 style="margin: 0;" class="info-label">{{order.floor}} / {{order.apartmant}}</h5>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <p class="info-label">Telefon:</p>
                        <h5 style="margin: 0;" class="info-label">{{order.phone}}</h5>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <p style="min-width: 40%;" class="info-label">Dodatne Info:</p>
                        <h5 style="margin: 0;" class="info-label">{{order.additionalInformation}}</h5>
                    </div>
                    <hr>
                    <div class="uk-card uk-card-primary uk-card-body">
                        <h4 class="uk-card-title">Ukupna Cena: {{order.sum}},00 Din</h4>
                    </div>
                </div>
                <div style="min-height: fit-content;" class="info-box">
                    <h4>Products</h4>
                    <div *ngFor="let prod of order.ordersProduct">
                        <div style="display: flex; justify-content: space-between;">
                            <div style="height: 90px; width: 90px;">
                                <img src="{{prod.imageUrl}}" alt="product-img">
                            </div>
                            <div
                                style="width: calc(100% - 90px); display: flex; flex-direction: column; justify-content: space-evenly; box-sizing: border-box; padding: 0px 20px;">
                                <div style="display: flex; justify-content: space-evenly;">
                                    <p style="margin: 0; font-weight: 600;">Naziv</p>
                                    <p style="margin: 0;">{{prod.name}}</p>
                                </div>
                                <div style="display: flex; justify-content: space-evenly;">
                                    <p style="margin: 0;">{{prod.amount}} x {{prod.price}},00</p>
                                    <p style="margin: 0;">Ukupno: {{prod.amount * prod.price}},00 Din</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <!-- <div style="display: flex; justify-content: space-between;">
                        <div style="height: 90px; width: 90px;">
                            <img src="assets/products/Beauty Gloss 2.jpg" alt="product-img">
                        </div>
                        <div
                            style="width: calc(100% - 90px); display: flex; flex-direction: column; justify-content: space-evenly; box-sizing: border-box; padding: 0px 20px;">
                            <div style="display: flex; justify-content: space-evenly;">
                                <p style="margin: 0; font-weight: 600;">Naziv</p>
                                <p style="margin: 0;">Beauty Gloss 2</p>
                            </div>
                            <div style="display: flex; justify-content: space-evenly;">
                                <p style="margin: 0;">1 x 34$</p>
                                <p style="margin: 0;">Ukupno: 34$</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div style="display: flex; justify-content: space-between;">
                        <div style="height: 90px; width: 90px;">
                            <img src="assets/products/Beauty Gloss 2.jpg" alt="product-img">
                        </div>
                        <div
                            style="width: calc(100% - 90px); display: flex; flex-direction: column; justify-content: space-evenly; box-sizing: border-box; padding: 0px 20px;">
                            <div style="display: flex; justify-content: space-between;">
                                <p style="margin: 0; font-weight: 600;">Naziv</p>
                                <p style="margin: 0;">Beauty Gloss 2</p>
                            </div>
                            <div style="display: flex; justify-content: space-between;">
                                <p style="margin: 0; font-weight: 600;">Kolicina</p>
                                <p style="margin: 0;">1 x 34$</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div style="display: flex; justify-content: space-between;">
                        <div style="height: 90px; width: 90px;">
                            <img src="assets/products/Beauty Gloss 2.jpg" alt="product-img">
                        </div>
                        <div
                            style="width: calc(100% - 90px); display: flex; flex-direction: column; justify-content: space-evenly; box-sizing: border-box; padding: 0px 20px;">
                            <div style="display: flex; justify-content: space-evenly;">
                                <p style="margin: 0; font-weight: 600;">Naziv</p>
                                <p style="margin: 0;">Beauty Gloss 2</p>
                            </div>
                            <div style="display: flex; justify-content: space-evenly;">
                                <p style="margin: 0;">1 x 34$</p>
                                <p style="margin: 0;">Ukupno: 34$</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div style="display: flex; justify-content: space-between;">
                        <div style="height: 90px; width: 90px;">
                            <img src="assets/products/Beauty Gloss 2.jpg" alt="product-img">
                        </div>
                        <div
                            style="width: calc(100% - 90px); display: flex; flex-direction: column; justify-content: space-evenly; box-sizing: border-box; padding: 0px 20px;">
                            <div style="display: flex; justify-content: space-evenly;">
                                <p style="margin: 0; font-weight: 600;">Naziv</p>
                                <p style="margin: 0;">Beauty Gloss 2</p>
                            </div>
                            <div style="display: flex; justify-content: space-evenly;">
                                <p style="margin: 0;">1 x 34$</p>
                                <p style="margin: 0;">Ukupno: 34$</p>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="info-box">
                        <h1>SUM: 102$</h1>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>