/* You can add global styles to this file, and also import other style files */

body {
    /* font-family: 'Untitled Sans', sans-serif; */
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

/* The emerging W3C standard
   that is currently Firefox-only */

* {
    scrollbar-width: thin;
    scrollbar-color: #C5C6C7;
}

/* Works on Chrome/Edge/Safari */

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #c5c6c731;
}

*::-webkit-scrollbar-thumb {
    background-color: #C5C6C7;
    border-radius: 20px;
}

/* Modal scrools to top when open - FIX */
.uk-modal-page { overflow: visible !important; }
.uk-modal-page > body { overflow-y: visible !important;overflow-x: hidden !important; }

/* @import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert'; */