<div style="display: flex; justify-content: center; padding: 20px;">
    <div style="width: 70vw; display: flex; flex-direction: column;">
        <div style="width: 100%; height: 10vh; display: flex; justify-content: space-between;">
            <div style="width: 10%;">
                <h2>Products</h2>
            </div>
            <div style="width: 75%; text-align: right;">
                <button (click)="newProduct()" class="uk-button uk-button-primary uk-button-small">New Product</button>
                <button class="uk-button uk-button-primary uk-button-small">New Category</button>
            </div>
            <div style="width: 15%;"></div>
        </div>
        <div style="padding: 20px; max-height: 70vh; overflow-y: auto;">
            <table class="uk-table uk-table-striped">
                <thead>
                    <tr>
                        <th>Img</th>
                        <th>Product ID</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody *ngFor="let prod of $allProducts | async">
                    <!-- {{prod | json}} -->
                    <tr>
                        <td><img style="width: 70px;" src="{{prod.productDetails[0].imageUrl}}" alt=""></td>
                        <td>#{{prod.id}}</td>
                        <td>{{prod.productDetails[0].name}}</td>
                        <td>{{prod.productDetails[0].size[prod.productDetails[0].size.length - 1].price}},00 din <span uk-icon="icon: arrow-right"></span> {{prod.productDetails[0].size[0].price}},00 din</td>
                    </tr>
                    <!-- <tr>
                        <td><img style="width: 70px;" src="assets/products/Beauty Gloss 2.jpg" alt="">
                        </td>
                        <td>#002</td>
                        <td>Beauty Gloss 2</td>
                        <td>53$</td>
                    </tr>
                    <tr>
                        <td><img style="width: 70px;" src="assets/products/BALZAM ZA KOSU Hippie.jpg"
                                alt=""></td>
                        <td>#001</td>
                        <td>Balzam za kosu - Hippie</td>
                        <td>148$</td>
                    </tr>
                    <tr>
                        <td><img style="width: 70px;" src="assets/products/Dezić LIMUNSKA TRAVA.jpg" alt=""></td>
                        <td>#003</td>
                        <td>Beauty Gloss</td>
                        <td>34$</td>
                    </tr>
                    <tr>
                        <td><img style="width: 70px;" src="assets/products/Frangipani Mist.jpg" alt=""></td>
                        <td>#003</td>
                        <td>Beauty Gloss</td>
                        <td>34$</td>
                    </tr>
                    <tr>
                        <td><img style="width: 70px;" src="assets/products/Hydro Active Gel NEROLI.jpg" alt=""></td>
                        <td>#003</td>
                        <td>Beauty Gloss</td>
                        <td>34$</td>
                    </tr>
                    <tr>
                        <td><img style="width: 70px;" src="assets/products/MAZALICA lavanda.jpg" alt=""></td>
                        <td>#003</td>
                        <td>Beauty Gloss</td>
                        <td>34$</td>
                    </tr>
                    <tr>
                        <td><img style="width: 70px;" src="assets/products/sapun LAVANDA.jpg" alt=""></td>
                        <td>#003</td>
                        <td>Beauty Gloss</td>
                        <td>34$</td>
                    </tr>
                    <tr>
                        <td><img style="width: 70px;" src="assets/products/Serum Golden Roses.jpg" alt=""></td>
                        <td>#003</td>
                        <td>Beauty Gloss</td>
                        <td>34$</td>
                    </tr>
                    <tr>
                        <td><img style="width: 70px;" src="assets/products/serum_antiage_feed.jpeg" alt=""></td>
                        <td>#003</td>
                        <td>Beauty Gloss</td>
                        <td>34$</td>
                    </tr>
                    <tr>
                        <td><img style="width: 70px;" src="assets/products/serum_antiage_story.jpeg" alt=""></td>
                        <td>#003</td>
                        <td>Beauty Gloss</td>
                        <td>34$</td>
                    </tr>
                    <tr>
                        <td><img style="width: 70px;" src="assets/products/Frangipani Mist.jpg" alt=""></td>
                        <td>#003</td>
                        <td>Beauty Gloss</td>
                        <td>34$</td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>